*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
}
#header {
  background-color: #1a0b2e;
  max-width: 1745px;
}
#header .navber {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 92px;
  margin: 0 auto;
}
#header .navber h2 {
  color: white;
  width: 219px;
  height: 32px;
  font-weight: bold;
  gap: 30px;
}
#header .navber ul {
  display: flex;
  list-style: none;
  gap: 20px;
  align-items: center;
}

#header .navber ul li a {
  text-decoration: none;
  color: white;
  
}
.btn{ 
  color: white;
  border: none;
 
  padding: 12px 16px;
  border-radius: 16px;
  font-size: 1rem;
  cursor: pointer;
  background: linear-gradient(135deg,#a100ff,#ff4ecd,#ffdd00);
  display: flex;
  align-items: center;
  gap: 8px;
 
}
.linear{
  background: linear-gradient(135deg,#a100ff,#ff4ecd,#ffdd00);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
 
}



 
  
  

.bennar-content  {
 max-width: 1745px;
background-image: url(./assets/hero-bg.png);
  background-size: cover;
  background-position: center;
  height: 760px;
  display: flex;
  justify-content: center;
  align-items: center;
 
  
  
  
}
.bennar-content img {
  margin-top: -230px; 
} 
 .microphone {
  position: absolute;
  left: 805px;
  bottom: 360px;
  max-width: 200px;
  height: 200px;
 }
 .new button {
  background-color: #00ff88;
  color: #1a0b2e;
  padding: 6px 10px;
  border: 2px solid #00ff88;
  border-radius: 30%;
  font-weight: bold;
  position: absolute;
  left: 950px;
  bottom: 600px;
 }
 .btn1{
  background-color: #1a0b2e;
  color: #00ff88;
  border: 2px solid #00ff88;
  padding: 12px 16px;
  border-radius: 16px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 1rem;
 }
 .bennar-text{
  display: grid;
  justify-items: center;
  gap: 20px;

  
 }
  .bennar-text h1{
    color: white;
    font-size: 3.75rem;
    
  }
  .bennar-text p{
    color: white;
    font-size: 1rem;
   
  }
  .bennar-buttons{
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-top: 50px;
    align-items: center;
  
  }
.gap{
  display: flex;
  align-items: center;
  gap: 8px;
}

.about h1 {
  font-size: 3em;
  color: white;
  text-align: center;
  margin-top: 100px;
}
.about p {
  font-size: 1em;
  color: #555;
  text-align: center;
  margin: 20px auto;
 
}
.p2 {
  color: #555;
  text-align: center;
  margin-top: 100px;
}
.number h2 {
  font-size: 3em;
  color: #00ff88;
  margin-bottom: 5px;
  
}
.number p {
  font-size: 1em;
  color: #555;

}
.number {
  display:grid;
  grid-template-columns: repeat(4,1fr);
  justify-items: center;

  margin-top: 100px;
}
.section {
  max-width: 1745px;
  margin: 0 auto;
  height: 700px;
}
.section2{
  max-width: 1745px;
  height: 1200px;
  background-color: #230e3d;
 
}
.why h2{
  color: white;
  text-align: center;
  padding-top: 100px;
  font-size: 3em;
  margin-bottom: 100px;
}
.section2 h3 {
  color: white;
  font-size: 2em;
  margin-top: 20px;
}
.section2 p {
  color: #555;
  font-size: 1em;
  margin-top: 10px;
}
#display-grit {
  max-width: 1300px;
  
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 5px;
  margin: 0 auto;
  align-items: center;
  

  
}

.grit1{
  grid-row: span 2;
  border-radius:40px ;
  background-color: #351165;
  gap: 16px;
  padding: 70px;
  margin: 50px;
  margin-bottom: 50px;
  
}
.grit2{
  grid-column: span 2;
  border-radius:40px ;
  background-color: #351165;
  gap: 16px;
  padding: 40px;
  margin-right: 20px;
  margin-top: 50px;
  
}
.grit3{
  grid-column: span 1;
  border-radius:40px ;
  background-color: #351165;
  gap: 16px;
  padding: 40px;
  margin-right: 20px; 
}
.grit4{
  grid-column: span 2;
  border-radius:40px ;
  background-color: #351165;
  gap: 16px;
  padding: 20px;
  margin: 20px; 
}





#section3 {
  max-width: 1745px;
  
  background-color: #1a0b2e;

}
.youtube h3 {
  color: white;
  font-size: 1.5em;
  font-weight: bold;
  margin-top: 24px;
}
.youtube p {
  color: #555;
  font-size: 1em;
  margin-top: 10px;
  margin-bottom: 10px;
}
.min {
  color: #00ff88;
  display: flex;
  align-items: center;
  gap: 8px;
}
.youtube {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
  max-width: 1300px;
   margin: 0 auto;
 
  
}
.you {
  width: 380px;
  height: 440px;
  background-color: #250d44;
  border-radius: 16px;
  padding: 20px;
  margin: 0 auto;
  
}
.you iframe{
  border-radius: 16px 16px 0px 0px;
  position: relative;
  margin-top: -20px;
  margin-left: -20px;
}
.meet h3 {
  color: white;
  font-weight: bold;
  font-size: 2em;
  margin-top: 100px;
}
.meet p {
  color: #555;
  font-size: 1em;
  margin-top: 20px;
  margin-bottom: 10px;
  
  
}
.img1 {
  padding: 8px;
  border: 1px solid #555;
  border-radius: 16px;
  gap: 8px;
}
.meet {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  margin-top: 50px;
  width: 1200px;
  height: 280px;
  background-color: #351165;
  margin: 0 auto;
  border-radius: 16px;
} 
.meet1 {
  margin-bottom: 100px;
}





#footer {
  max-width: 1745px;
  height: 412px;
  background-image: url(./assets/footer-bg.png);
  
}
.footer-content h2 { 
  
  color: white;
  width: 410px;
  height: 60px;
  font-size: 4rem;
  font-weight: bold;
  position: relative;
  top: -130px;
  left: 240px;
 
 
}
.footer-p {
  color: rgba(240, 248, 255, 0.87);
  font-size: 1rem;
  margin-top: 20px;
  padding: 10px;
  position: relative;
  top: -55px;
  right: 140px;
  
  
  
  
}
.p1 {
  color: rgba(240, 248, 255, 0.87);
}
.footer-content {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 20px;
  padding-top: 250px;

}
  

.foot {
  align-items: center;
  
  margin-bottom: 10px;
}
.foot2 {
  max-width: 544px;
  height: 24px;
  align-items: center;
  margin-bottom: 20px;
  text-align: center;
  position: relative;
  right: 75px;
  top: 20px;
}
.foot3 {
  align-items: center;
  text-align: center;

  margin-bottom: 10px;
 
}
.footer-p img {
  margin-right: 8px;
  gap: 20px
}


  

  








 





  

  
    

 