*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
}
#header {
  background-color: #1a0b2e;
  max-width: 1745px;
}
#header .navber {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 92px;
  margin: 0 auto;
}
#header .navber h2 {
  color: white;
  width: 219px;
  height: 32px;
  font-weight: bold;
  gap: 30px;
}
#header .navber ul {
  display: flex;
  list-style: none;
  gap: 20px;
  align-items: center;
}

#header .navber ul li a {
  text-decoration: none;
  color: white;
  
}
.btn{ 
  color: white;
  border: none;
 
  padding: 12px 16px;
  border-radius: 16px;
  font-size: 1rem;
  cursor: pointer;
  background: linear-gradient(135deg,#a100ff,#ff4ecd,#ffdd00);
  display: flex;
  align-items: center;
  gap: 8px;
 
}
.linear{
  background: linear-gradient(135deg,#a100ff,#ff4ecd,#ffdd00);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
 
}



 
  
  

.bennar-content  {
 max-width: 1745px;
background-image: url(./assets/hero-bg.png);
  background-size: cover;
  background-position: center;
  height: 760px;
  display: flex;
  justify-content: center;
  align-items: center;
 
  
  
  
}
.bennar-content img {
  margin-top: -230px; 
} 
 .microphone {
  position: absolute;
  left: 805px;
  bottom: 390px;
 }
 .new button {
  background-color: #00ff88;
  color: #1a0b2e;
  padding: 6px 10px;
  border: 2px solid #00ff88;
  border-radius: 30%;
  font-weight: bold;
  position: absolute;
  left: 950px;
  bottom: 600px;
 }
 .btn1{
  background-color: #1a0b2e;
  color: #00ff88;
  border: 2px solid #00ff88;
  padding: 12px 16px;
  border-radius: 16px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 1rem;
 }
 .bennar-text{
  display: grid;
  justify-items: center;
  gap: 20px;

  
 }
  .bennar-text h1{
    color: white;
    font-size: 3.75rem;
    
  }
  .bennar-text p{
    color: white;
    font-size: 1rem;
   
  }
  .bennar-buttons{
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-top: 50px;
    align-items: center;
  
  }
.gap{
  display: flex;
  align-items: center;
  gap: 8px;
}

.about h1 {
  font-size: 3em;
  color: white;
  text-align: center;
  margin-top: 100px;
}
.about p {
  font-size: 1em;
  color: #555;
  text-align: center;
  margin: 20px auto;
 
}
.p2 {
  color: #555;
  text-align: center;
  margin-top: 100px;
}
.number h2 {
  font-size: 3em;
  color: #00ff88;
  margin-bottom: 5px;
  
}
.number p {
  font-size: 1em;
  color: #555;

}
.number {
  display:grid;
  grid-template-columns: repeat(4,1fr);
  justify-items: center;

  margin-top: 100px;
}


  

  
    

 